@use '_variables.scss';

.main-body {
  display: flex;
  width: 100%;
  height: calc(100vh - 50px);
  background-color: variables.$secondary-color;
  padding: 20px;
  box-sizing: border-box;
  gap: 2vh;
  font-size: 1rem;

  .version-tab,
  .middle-tab,
  .right-tab {
    background-color: #2d2d2d;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    flex-grow: 1;
    overflow: hidden;
    font-size: 1rem;
    min-height: 400px;
  }

  .version-tab {
    flex: 1;
  }

  .middle-tab {
    flex: 2;
  }

  .right-tab {
    flex: 1;
  }

  .h1 {
    font-size: 1rem;
  }
}