@use "../../styles/variables";

.title-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: variables.$secondary-color;
  color: white;
  -webkit-app-region: drag;

  .title {
    justify-content: center;
    flex-grow: 1;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    font-family: variables.$font-stack;
  }

  .window-controls {
    display: flex;
    gap: 10px;
    padding-right: 10px;

    .btn {
      border: none;
      background: none;
      color: white;
      font-size: 14px;
      cursor: pointer;
      -webkit-app-region: no-drag;

      &.close:hover {
        color: red;
      }
    }

    .close-icon {
      width: 3vh;
      height: 3vh;
    }
    .maximize-icon {
      width: 4vh;
      height: 4vh;
    }
    .minimize-icon {
      width: 4vh;
      height: 4vh;
    }
  }
}