@use "../../styles/variables";

.title-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: variables.$secondary-color;
  color: white;
  //padding: 0 10px;
  -webkit-app-region: drag;

  .title {
    flex-grow: 1;
    text-align: center;
    font-size: 14px;
  }

  .window-controls {
    display: flex;
    gap: 10px;

    .btn {
      border: none;
      background: none;
      color: white;
      font-size: 14px;
      cursor: pointer;
      -webkit-app-region: no-drag;

      &.close:hover {
        color: red;
      }
    }

    .icon {
      width: 20px;
      height: 20px;
    }
  }
}